body{
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.box{
    background-color: #FFF;
    border-radius: 20px;
    padding: 35px;
    /* border: 1px solid #444242; */
    margin-top: 25px;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

h3{
    margin-bottom: 14px;
}

.btn-primary{
    background-color: #597A67;
    border: 1px solid #466754;
    color: #FFF;
}

.btn-primary:hover{
    background-color: #3b5345;
    border: 1px solid #466754;
}

/* PRINT */
@media print {
    body{
        background-image: none;
    }
    .noPrint{
        display:none;
    }
}